@charset "utf-8";
@import url(reset.css);

h1 {
    font-size: 56px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

:root {

    /* Primary */
    --primary: #365CF5;
    --primary-dark: #2449D8;

    /* Blue */
    --blue-light: #EEF3FF;
    --blue-bg: #F1F5FD;

    /* Text */
    --black: #111111;
    --text: #333333;
    --gray: #666666;
    --gray-light: #999999;

    /* Border */
    --border: #DDDDDD;

    /* Background */
    --white: #FFFFFF;
    --gray-bg: #F6F7FA;

    /* Status */
    --warning: #FF8A5B;
    --warning-bg: #FFF3ED;

    /* Radius */
    --radius-sm: 8px;
    --radius-md: 10px;
    --radius-lg: 12px;
    --radius-round: 28px;

    /* Shadow */
    --shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.inner {
    width: 1280px;
    max-width: calc(100% - 40px);
    margin: 0 auto;
}