@charset "utf-8";

.header-inner {
    max-width: 1280px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 32px;
}

.logo span {
    color: var(--primary)
}

.gnb ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

.gnb ul li {
    font-size: 18px;
    font-weight: 500;
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
}

.gnb ul li a {
    position: relative;
}

.gnb ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -26px;
    width: 0;
    height: 2px;
    background: var(--primary);
    transition: width 0.3s ease;
}

.gnb ul li a:hover,
.gnb ul li a.on {
    color: var(--primary);
}

.gnb ul li a:hover::after,
.gnb ul li a.on::after {
    width: 100%;
}

.search img {
    width: 24px;
    height: 24px;
}