@charset "utf-8";

.header-inner {
    max-width: 1280px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 32px;
}

.gnb ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

.gnb ul li {
    font-size: 18px;
    font-weight: 500;
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
}

.gnb ul li a {
    position: relative;
}

.gnb ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -26px;
    width: 0;
    height: 2px;
    background: #365CF5;
    transition: width 0.3s ease;
}

.gnb ul li a:hover,
.gnb ul li a.on {
    color: #365CF5;
}

.gnb ul li a:hover::after,
.gnb ul li a.on::after {
    width: 100%;
}

.search img {
    width: 24px;
    height: 24px;
}

/* ----------------------------------------header 끝----------------------------------------- */


.hero {
    background: url(../img/main-img/메인배너.png)no-repeat center/cover;
    width: 100%;
    height: 700px;
}

.hero-title {
    height: 700px;
    display: flex;
    align-items: center;
}

h1 {
    margin: 20px 0;
    line-height: 1.3;
}

.label {
    font-size: 24px;
    font-weight: 600;
}

.label,
.point {
    color: #365CF5;
}

.sub-text {
    font-size: 26px;
    color: #222;
    font-weight: 500;
    line-height: 1.5;
}

/* ----------------------------------------hero 끝----------------------------------------- */

.footer {
    background: #f3f6fc;
    padding: 40px 0 28px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 24px;
    border-bottom: 1px solid #cbd0d8;
}

.footer-left .footer-logo {
    display: inline-block;
    margin-bottom: 15px;
    color: #222222;
    font-size: 32px;
    font-weight: 700;
}

.footer-left p {
    color: #555;
    font-size: 16px;
    line-height: 1.2;
}

.footer-right {
    display: flex;
    align-items: center;
}

.footer-right a {
    position: relative;
    padding: 0 36px;
    color: #555555;
    font-size: 16px;
}

.footer-right a+a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 14px;
    background: #bbbbbb;
    transform: translateY(-50%);
}

.footer-right a:last-child {
    padding-right: 0;
}

.footer-bottom {
    padding-top: 16px;
}

.footer-bottom p {
    color: #aaaaaa;
    font-size: 14px;
}